:root {
    --title-color: #212121;
    --hover-color: #2196F3;
    --text-color: #757575;
    --font-text: 'Roboto';
    --font-style-text: normal;
    --font-style-headlines: normal;
}
body {}
header {}
header nav {}
header nav a.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #000000;
    text-decoration: none;
    
}
header nav a.logo span.blueWorld {
    color: #2196F3;
    text-transform: capitalize;
}
header nav a.logo span.blueWorld span {
    text-transform: capitalize;
}
header nav ul {
    list-style: none;
}
header nav ul li {}
header nav ul li a {
    font-family: var(--font-text);
    font-style: var(--font-style-text);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--title-color);
    text-decoration: none;
    
}
header nav ul li a.current {
    color: var(--hover-color);
}
header nav ul li a:hover,
header nav ul li a:focus {
   color: var(--hover-color);
   text-decoration: none;
}
header ul {
    list-style: none;
}
header ul li {}
header ul li a {
    font-family: var(--font-text);
    font-style: var(--font-style-text);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--text-color);
    text-decoration: none;
}
header ul li a:hover,
header ul li a:focus {
    color: var(--hover-color);
    text-decoration: none;
}
main {}
.banner {
    background-color: #2F303A;
}
.banner h1 {
    font-family: var(--font-text);
    font-style: var(--font-style-headlines);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    color: #FFFFFF;
}
.banner button {
    background-color: var(--hover-color);
    font-family: var(--font-text);
    font-style: var(--font-style-text);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    color: #FFFFFF;
    cursor: pointer;
}
.aboutUs {}
.aboutUs h2 {}
.aboutUs ul {
    list-style: none;
}
.aboutUs ul li {}
.aboutUs ul li h3 {
    font-family: var(--font-text);
    font-style: var(--font-style-headlines);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;    
    color: var(--title-color);
}
.aboutUs ul li p {
    font-family: var(--font-text);
    font-style: var(--font-style-text);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--text-color);
}
.whatWeDo {}
.whatWeDo h2 {
    font-family: var(--font-text);
    font-style: var(--font-style-headlines);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    color: var(--title-color);
}
.whatWeDo ul {
    list-style: none;
}
.whatWeDo ul li {}
.whatWeDo ul li img {}
.team {}
.team h2 {
    font-family: var(--font-text);
    font-style: var(--font-style-headlines);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    color: var(--title-color);
}
.team ul {
    list-style: none;
}
.team ul li {}
.team ul li img {}
.team ul li h3 {
    font-family: var(--font-text);
    font-style: var(--font-style-headlines);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    color: var(--title-color);
}
.team ul li p {
    font-family: var(--font-text);
    font-style: var(--font-style-text);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    color: var(--text-color);
}
footer {
    background-color: #2F303A;
}
footer a {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #FFFFFF;
    text-decoration: none;
}
footer a span.blueWorld {
    color: #2196F3;
}
footer a span.blueWorld span {
    text-transform: capitalize;
}
footer address {}
footer address ul {
    list-style: none;
}
footer address ul li {}
footer address ul li a.street {
    font-family: var(--font-text);
    font-style: var(--font-style-text);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: #ffffff;
    text-decoration: none;
}
footer address ul li a {
    font-family: var(--font-text);
    font-style:var(--font-style-text);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
footer address ul li a:hover, 
footer address ul li a:focus {
    color: var(--hover-color);
    text-decoration: none;
}
.menu {}
.menu h1 {}
.menu ul {
    list-style: none;
}
.menu ul li {}
.menu ul li button {
    font-family: var(--font-text);
    font-style: var(--font-style-text);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    color: var(--title-color);
    background-color: #F5F4FA;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.menu ul li button:hover,
.menu ul li button:focus {
    background-color: var(--hover-color);
    color: #ffffff;
}
.menu ul.ourProject {
    list-style: none;
}
.menu ul.ourProject li {}
.menu ul.ourProject li a {
    text-decoration: none;
}
.menu ul.ourProject li a img {}
.menu ul.ourProject li a h3 {
    font-family: var(--font-text);
    font-style: var(--font-style-headlines);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: var(--title-color);
    text-decoration: none;
}
.menu ul li a p {
    font-family: var(--font-text);
    font-style: var(--font-style-text);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    color: var(--text-color);
    text-decoration: none;
}